In [1]:
import pandas as pd
import numpy as np

from sklearn import metrics

import statsmodels.api as sm
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv("BankChurners.csv")

In [3]:
df = df.drop(['CLIENTNUM', 'Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1', 'Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2'], axis=1)

In [4]:
df.drop(df[df['Marital_Status'] == "Unknown"].index, inplace=True)
df.drop(df[df['Income_Category'] == "Unknown"].index, inplace=True)
df.drop(df[df['Education_Level'] == "Unknown"].index, inplace=True)

In [5]:
df['Attrition_Flag'] = df['Attrition_Flag'].replace(['Existing Customer'],'0')
df['Attrition_Flag'] = df['Attrition_Flag'].replace(['Attrited Customer'],'1')

In [6]:
df

,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
0,0,45,M,3,High School,Married,$60K - $80K,Blue,39,5,1,3,12691.0,777,11914.0,1.335,1144,42,1.625,0.061
1,0,49,F,5,Graduate,Single,Less than $40K,Blue,44,6,1,2,8256.0,864,7392.0,1.541,1291,33,3.714,0.105
2,0,51,M,3,Graduate,Married,$80K - $120K,Blue,36,4,1,0,3418.0,0,3418.0,2.594,1887,20,2.333,0.000
4,0,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,5,1,0,4716.0,0,4716.0,2.175,816,28,2.500,0.000
5,0,44,M,2,Graduate,Married,$40K - $60K,Blue,36,3,1,2,4010.0,1247,2763.0,1.376,1088,24,0.846,0.311
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10120,0,54,M,1,High School,Single,$60K - $80K,Blue,34,5,2,0,13940.0,2109,11831.0,0.660,15577,114,0.754,0.151
10121,0,56,F,1,Graduate,Single,Less than $40K,Blue,50,4,1,4,3688.0,606,3082.0,0.570,14596,120,0.791,0.164
10122,0,50,M,2,Graduate,Single,$40K - $60K,Blue,40,3,2,3,4003.0,1851,2152.0,0.703,15476,117,0.857,0.462
10124,1,44,F,1,High School,Married,Less than $40K,Blue,36,5,3,4,5409.0,0,5409.0,0.819,10291,60,0.818,0.000
10126,1,43,F,2,Graduate,Married,Less than $40K,Silver,25,6,2,4,10388.0,1961,8427.0,0.703,10294,61,0.649,0.189

In [7]:
X = pd.get_dummies(df, columns=['Gender', 'Education_Level', 'Marital_Status', 'Income_Category', 'Card_Category'], drop_first=True)
X = X.drop(['Attrition_Flag'],axis=1)

In [8]:
X_logreg = sm.add_constant(X)

/home/adam_s/um/moje_srod/lib/python3.8/site-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

In [9]:
X.columns

Index(['Customer_Age', 'Dependent_count', 'Months_on_book',
       'Total_Relationship_Count', 'Months_Inactive_12_mon',
       'Contacts_Count_12_mon', 'Credit_Limit', 'Total_Revolving_Bal',
       'Avg_Open_To_Buy', 'Total_Amt_Chng_Q4_Q1', 'Total_Trans_Amt',
       'Total_Trans_Ct', 'Total_Ct_Chng_Q4_Q1', 'Avg_Utilization_Ratio',
       'Gender_M', 'Education_Level_Doctorate', 'Education_Level_Graduate',
       'Education_Level_High School', 'Education_Level_Post-Graduate',
       'Education_Level_Uneducated', 'Marital_Status_Married',
       'Marital_Status_Single', 'Income_Category_$40K - $60K',
       'Income_Category_$60K - $80K', 'Income_Category_$80K - $120K',
       'Income_Category_Less than $40K', 'Card_Category_Gold',
       'Card_Category_Platinum', 'Card_Category_Silver'],
      dtype='object')

In [10]:
X_logreg.describe()

,const,Customer_Age,Dependent_count,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,...,Education_Level_Uneducated,Marital_Status_Married,Marital_Status_Single,Income_Category_$40K - $60K,Income_Category_$60K - $80K,Income_Category_$80K - $120K,Income_Category_Less than $40K,Card_Category_Gold,Card_Category_Platinum,Card_Category_Silver
count,7081.0,7081.000000,7081.000000,7081.000000,7081.000000,7081.000000,7081.000000,7081.000000,7081.000000,7081.000000,...,7081.000000,7081.000000,7081.000000,7081.000000,7081.000000,7081.00000,7081.000000,7081.000000,7081.000000,7081.000000
mean,1.0,46.347691,2.337805,35.981359,3.819376,2.342607,2.454456,8492.773831,1167.501624,7325.272207,...,0.170032,0.503319,0.416325,0.199407,0.155769,0.16975,0.394295,0.011439,0.001553,0.055218
std,0.0,8.041225,1.291649,8.002609,1.544444,0.995104,1.104917,9126.072520,812.315606,9131.217585,...,0.375688,0.500024,0.492984,0.399583,0.362662,0.37544,0.488733,0.106348,0.039386,0.228422
min,1.0,26.000000,0.000000,13.000000,1.000000,0.000000,0.000000,1438.300000,0.000000,3.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000
25%,1.0,41.000000,1.000000,31.000000,3.000000,2.000000,2.000000,2498.000000,463.000000,1248.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000
50%,1.0,46.000000,2.000000,36.000000,4.000000,2.000000,2.000000,4287.000000,1282.000000,3250.000000,...,0.000000,1.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000
75%,1.0,52.000000,3.000000,40.000000,5.000000,3.000000,3.000000,10729.000000,1781.000000,9491.000000,...,0.000000,1.000000,1.000000,0.000000,0.000000,0.00000,1.000000,0.000000,0.000000,0.000000
max,1.0,73.000000,5.000000,56.000000,6.000000,6.000000,6.000000,34516.000000,2517.000000,34516.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000

In [11]:
y = df['Attrition_Flag']

In [58]:
X_train_logreg, X_test_logreg, y_train_logreg, y_test_logreg = train_test_split(X_logreg, y, random_state=42)

In [14]:
y_train_logreg.astype(float).describe()

count    5310.000000
mean        0.158569
std         0.365308
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max         1.000000
Name: Attrition_Flag, dtype: float64

In [15]:
X_train_logreg.shape

(5310, 30)

In [16]:
y_train_logreg.shape

(5310,)

In [17]:
X_1 = X_train_logreg[[
    'Customer_Age',
    'Dependent_count',
    'Months_on_book',
    'Total_Relationship_Count',
    'Months_Inactive_12_mon',
    'Contacts_Count_12_mon',
    #'Credit_Limit', 
    'Total_Revolving_Bal',
    'Avg_Open_To_Buy',
    'Total_Amt_Chng_Q4_Q1',
    'Total_Trans_Amt',
    'Total_Trans_Ct',
    'Total_Ct_Chng_Q4_Q1',
    'Avg_Utilization_Ratio',
    'Gender_M',
    'Education_Level_High School',
    'Education_Level_Graduate',
    'Education_Level_Uneducated',
    #'Education_Level_College',
    'Education_Level_Post-Graduate',
    'Education_Level_Doctorate',
    'Marital_Status_Married',
    'Marital_Status_Single',
    #'Marital_Status_Divorced',
    'Income_Category_$60K - $80K',
    'Income_Category_Less than $40K',
    'Income_Category_$80K - $120K',
    'Income_Category_$40K - $60K',
    #'Income_Category_$120K +',
    'Card_Category_Gold',
    'Card_Category_Silver',
    'Card_Category_Platinum'
               ]]
X_1 = sm.add_constant(X_1)

/home/adam_s/um/moje_srod/lib/python3.8/site-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

In [18]:
X_1

,const,Customer_Age,Dependent_count,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,...,Education_Level_Doctorate,Marital_Status_Married,Marital_Status_Single,Income_Category_$60K - $80K,Income_Category_Less than $40K,Income_Category_$80K - $120K,Income_Category_$40K - $60K,Card_Category_Gold,Card_Category_Silver,Card_Category_Platinum
8101,1.0,46,4,36,2,1,1,1043,1128.0,0.700,...,0,1,0,0,0,1,0,0,0,0
8916,1.0,51,1,37,1,3,2,2416,24902.0,0.917,...,0,0,1,0,0,1,0,0,0,0
7945,1.0,45,4,36,1,3,3,0,4688.0,0.593,...,0,0,1,0,0,0,1,0,0,0
10061,1.0,44,2,31,3,2,3,2028,2154.0,0.658,...,0,0,1,0,1,0,0,0,0,0
4743,1.0,48,3,42,3,2,4,0,19075.0,0.807,...,0,0,1,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5242,1.0,49,3,36,5,3,4,0,1438.3,0.929,...,0,1,0,0,1,0,0,0,0,0
7365,1.0,44,5,30,3,3,1,1726,983.0,0.698,...,0,0,1,0,1,0,0,0,0,0
7413,1.0,50,1,36,4,3,2,0,2317.0,0.734,...,0,0,1,1,0,0,0,0,0,0
7681,1.0,49,4,35,5,3,2,2133,905.0,0.689,...,0,1,0,0,1,0,0,0,0,0
1158,1.0,26,0,15,5,1,2,1720,6547.0,0.633,...,0,0,1,1,0,0,0,0,0,0

Credit_Limit powoduje że macierzy nie da się odwrócić (wyznacznik równy 0). Reszta zmiennych nie sprawia więkrzych problemów. Kwestia teraz zbudowania odpowiedniego modelu + interpretacje + ilorazy szans.

In [19]:
log_reg_1 = sm.Logit(y_train_logreg.astype(float), X_1.astype(float)).fit()

Optimization terminated successfully.
         Current function value: 0.237683
         Iterations 8

In [20]:
print(log_reg_1.summary())

                           Logit Regression Results
==============================================================================
Dep. Variable:         Attrition_Flag   No. Observations:                 5310
Model:                          Logit   Df Residuals:                     5281
Method:                           MLE   Df Model:                           28
Date:                Wed, 09 Feb 2022   Pseudo R-squ.:                  0.4565
Time:                        20:41:36   Log-Likelihood:                -1262.1
converged:                       True   LL-Null:                       -2322.0
Covariance Type:            nonrobust   LLR p-value:                     0.000
==================================================================================================
                                     coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------------------------
const                              7.2959      0.631     11.567      0.000       6.060       8.532
Customer_Age                      -0.0134      0.011     -1.259      0.208      -0.034       0.007
Dependent_count                    0.1287      0.041      3.135      0.002       0.048       0.209
Months_on_book                    -0.0074      0.011     -0.694      0.488      -0.028       0.013
Total_Relationship_Count          -0.4178      0.038    -11.125      0.000      -0.491      -0.344
Months_Inactive_12_mon             0.4965      0.053      9.329      0.000       0.392       0.601
Contacts_Count_12_mon              0.4861      0.050      9.762      0.000       0.388       0.584
Total_Revolving_Bal               -0.0009   9.58e-05     -9.276      0.000      -0.001      -0.001
Avg_Open_To_Buy                -2.118e-05   9.48e-06     -2.236      0.025   -3.98e-05   -2.61e-06
Total_Amt_Chng_Q4_Q1              -0.5443      0.262     -2.075      0.038      -1.058      -0.030
Total_Trans_Amt                    0.0005   3.11e-05     15.715      0.000       0.000       0.001
Total_Trans_Ct                    -0.1184      0.005    -23.127      0.000      -0.128      -0.108
Total_Ct_Chng_Q4_Q1               -2.6349      0.256    -10.287      0.000      -3.137      -2.133
Avg_Utilization_Ratio             -0.3691      0.337     -1.096      0.273      -1.029       0.291
Gender_M                          -0.9673      0.194     -4.988      0.000      -1.347      -0.587
Education_Level_High School       -0.0894      0.184     -0.486      0.627      -0.450       0.271
Education_Level_Graduate          -0.0201      0.171     -0.117      0.907      -0.356       0.316
Education_Level_Uneducated        -0.1029      0.196     -0.524      0.600      -0.488       0.282
Education_Level_Post-Graduate      0.2137      0.258      0.829      0.407      -0.292       0.719
Education_Level_Doctorate          0.5491      0.261      2.104      0.035       0.038       1.061
Marital_Status_Married            -0.6714      0.197     -3.413      0.001      -1.057      -0.286
Marital_Status_Single             -0.0314      0.197     -0.159      0.873      -0.417       0.355
Income_Category_$60K - $80K       -0.4573      0.229     -1.996      0.046      -0.906      -0.008
Income_Category_Less than $40K    -0.7770      0.286     -2.719      0.007      -1.337      -0.217
Income_Category_$80K - $120K      -0.1197      0.213     -0.563      0.573      -0.536       0.297
Income_Category_$40K - $60K       -0.9122      0.264     -3.455      0.001      -1.430      -0.395
Card_Category_Gold                 0.8541      0.484      1.766      0.077      -0.094       1.802
Card_Category_Silver               0.4521      0.262      1.728      0.084      -0.061       0.965
Card_Category_Platinum             1.6954      1.187      1.428      0.153      -0.631       4.022
==================================================================================================

In [21]:
# test łącznej istotności Education_Level

x_vars = log_reg_1.summary2().tables[1].index
#x_vars
wald_str = ' = '.join(list(x_vars[15:20]))
wald_str

'Education_Level_High School = Education_Level_Graduate = Education_Level_Uneducated = Education_Level_Post-Graduate = Education_Level_Doctorate'

In [22]:
wald_test = log_reg_1.wald_test(wald_str) # Wald test
wald_test

<class 'statsmodels.stats.contrast.ContrastResults'>
<Wald test (chi2): statistic=[[8.99697749]], p-value=0.061175073835732924, df_denom=4>

Można usunąć zmienne dotyczące wykształcenia, pojedyncze zmienne nie istotne statystycznie, również łączny test to potwierdza (p-value > 0.05).

**Pominięcie Education_Level**

In [23]:
X_2 = X_train_logreg[[
    'Customer_Age',
    'Dependent_count',
    'Months_on_book',
    'Total_Relationship_Count',
    'Months_Inactive_12_mon',
    'Contacts_Count_12_mon',
    #'Credit_Limit', 
    'Total_Revolving_Bal',
    'Avg_Open_To_Buy',
    'Total_Amt_Chng_Q4_Q1',
    'Total_Trans_Amt',
    'Total_Trans_Ct',
    'Total_Ct_Chng_Q4_Q1',
    'Avg_Utilization_Ratio',
    'Gender_M',
    #'Education_Level_High School',
    #'Education_Level_Graduate',
    #'Education_Level_Uneducated',
    #'Education_Level_College',
    #'Education_Level_Post-Graduate',
    #'Education_Level_Doctorate',
    'Marital_Status_Married',
    'Marital_Status_Single',
    #'Marital_Status_Divorced',
    'Income_Category_$60K - $80K',
    'Income_Category_Less than $40K',
    'Income_Category_$80K - $120K',
    'Income_Category_$40K - $60K',
    #'Income_Category_$120K +',
    'Card_Category_Gold',
    'Card_Category_Silver',
    'Card_Category_Platinum'
               ]]
X_2 = sm.add_constant(X_2)

/home/adam_s/um/moje_srod/lib/python3.8/site-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

In [24]:
log_reg_2 = sm.Logit(y_train_logreg.astype(float), X_2.astype(float)).fit()

Optimization terminated successfully.
         Current function value: 0.238503
         Iterations 8

In [25]:
print(log_reg_2.summary())

                           Logit Regression Results
==============================================================================
Dep. Variable:         Attrition_Flag   No. Observations:                 5310
Model:                          Logit   Df Residuals:                     5286
Method:                           MLE   Df Model:                           23
Date:                Wed, 09 Feb 2022   Pseudo R-squ.:                  0.4546
Time:                        20:41:36   Log-Likelihood:                -1266.5
converged:                       True   LL-Null:                       -2322.0
Covariance Type:            nonrobust   LLR p-value:                     0.000
==================================================================================================
                                     coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------------------------
const                              7.2979      0.615     11.865      0.000       6.092       8.503
Customer_Age                      -0.0131      0.011     -1.245      0.213      -0.034       0.008
Dependent_count                    0.1248      0.041      3.049      0.002       0.045       0.205
Months_on_book                    -0.0074      0.011     -0.700      0.484      -0.028       0.013
Total_Relationship_Count          -0.4212      0.037    -11.235      0.000      -0.495      -0.348
Months_Inactive_12_mon             0.4921      0.053      9.274      0.000       0.388       0.596
Contacts_Count_12_mon              0.4831      0.050      9.719      0.000       0.386       0.580
Total_Revolving_Bal               -0.0009   9.55e-05     -9.262      0.000      -0.001      -0.001
Avg_Open_To_Buy                -2.128e-05   9.45e-06     -2.252      0.024   -3.98e-05   -2.76e-06
Total_Amt_Chng_Q4_Q1              -0.5170      0.261     -1.982      0.047      -1.028      -0.006
Total_Trans_Amt                    0.0005   3.11e-05     15.678      0.000       0.000       0.001
Total_Trans_Ct                    -0.1180      0.005    -23.109      0.000      -0.128      -0.108
Total_Ct_Chng_Q4_Q1               -2.6616      0.255    -10.429      0.000      -3.162      -2.161
Avg_Utilization_Ratio             -0.3807      0.336     -1.134      0.257      -1.039       0.277
Gender_M                          -0.9647      0.193     -4.987      0.000      -1.344      -0.586
Marital_Status_Married            -0.6697      0.195     -3.426      0.001      -1.053      -0.287
Marital_Status_Single             -0.0334      0.196     -0.170      0.865      -0.417       0.350
Income_Category_$60K - $80K       -0.4449      0.229     -1.947      0.052      -0.893       0.003
Income_Category_Less than $40K    -0.7706      0.285     -2.707      0.007      -1.329      -0.213
Income_Category_$80K - $120K      -0.1147      0.212     -0.541      0.589      -0.531       0.301
Income_Category_$40K - $60K       -0.8988      0.263     -3.416      0.001      -1.415      -0.383
Card_Category_Gold                 0.8302      0.484      1.715      0.086      -0.119       1.779
Card_Category_Silver               0.4455      0.261      1.706      0.088      -0.066       0.957
Card_Category_Platinum             1.7186      1.165      1.475      0.140      -0.565       4.002
==================================================================================================

In [26]:
# test łącznej istotności Marital_Status
x_vars = log_reg_2.summary2().tables[1].index
#x_vars
wald_str = ' = '.join(list(x_vars[15:17]))
wald_str

'Marital_Status_Married = Marital_Status_Single'

In [27]:
wald_test = log_reg_2.wald_test(wald_str) # joint test
wald_test

<class 'statsmodels.stats.contrast.ContrastResults'>
<Wald test (chi2): statistic=[[32.0434897]], p-value=1.5075947447532242e-08, df_denom=1>

Ten sam test na zmienną Marital_Status, w tym przypadku można zostawić obie zmienne (p-value < 0.05).

**Pominięcie zmiennej Months_on_book**

In [28]:
X_3 = X_train_logreg[[
    'Customer_Age',
    'Dependent_count',
    #'Months_on_book',
    'Total_Relationship_Count',
    'Months_Inactive_12_mon',
    'Contacts_Count_12_mon',
    #'Credit_Limit', 
    'Total_Revolving_Bal',
    'Avg_Open_To_Buy',
    'Total_Amt_Chng_Q4_Q1',
    'Total_Trans_Amt',
    'Total_Trans_Ct',
    'Total_Ct_Chng_Q4_Q1',
    'Avg_Utilization_Ratio',
    'Gender_M',
    #'Education_Level_High School',
    #'Education_Level_Graduate',
    #'Education_Level_Uneducated',
    #'Education_Level_College',
    #'Education_Level_Post-Graduate',
    #'Education_Level_Doctorate',
    'Marital_Status_Married',
    'Marital_Status_Single',
    #'Marital_Status_Divorced',
    'Income_Category_$60K - $80K',
    'Income_Category_Less than $40K',
    'Income_Category_$80K - $120K',
    'Income_Category_$40K - $60K',
    #'Income_Category_$120K +',
    'Card_Category_Gold',
    'Card_Category_Silver',
    'Card_Category_Platinum'
               ]]
X_3 = sm.add_constant(X_3)

/home/adam_s/um/moje_srod/lib/python3.8/site-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

In [29]:
log_reg_3 = sm.Logit(y_train_logreg.astype(float), X_3.astype(float)).fit()

Optimization terminated successfully.
         Current function value: 0.238549
         Iterations 8

In [30]:
print(log_reg_3.summary())

                           Logit Regression Results
==============================================================================
Dep. Variable:         Attrition_Flag   No. Observations:                 5310
Model:                          Logit   Df Residuals:                     5287
Method:                           MLE   Df Model:                           22
Date:                Wed, 09 Feb 2022   Pseudo R-squ.:                  0.4545
Time:                        20:41:36   Log-Likelihood:                -1266.7
converged:                       True   LL-Null:                       -2322.0
Covariance Type:            nonrobust   LLR p-value:                     0.000
==================================================================================================
                                     coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------------------------
const                              7.3161      0.615     11.901      0.000       6.111       8.521
Customer_Age                      -0.0190      0.006     -2.977      0.003      -0.032      -0.007
Dependent_count                    0.1255      0.041      3.065      0.002       0.045       0.206
Total_Relationship_Count          -0.4210      0.037    -11.232      0.000      -0.494      -0.348
Months_Inactive_12_mon             0.4888      0.053      9.252      0.000       0.385       0.592
Contacts_Count_12_mon              0.4828      0.050      9.721      0.000       0.385       0.580
Total_Revolving_Bal               -0.0009   9.55e-05     -9.288      0.000      -0.001      -0.001
Avg_Open_To_Buy                -2.119e-05   9.45e-06     -2.243      0.025   -3.97e-05   -2.67e-06
Total_Amt_Chng_Q4_Q1              -0.5168      0.261     -1.982      0.048      -1.028      -0.006
Total_Trans_Amt                    0.0005   3.11e-05     15.719      0.000       0.000       0.001
Total_Trans_Ct                    -0.1181      0.005    -23.124      0.000      -0.128      -0.108
Total_Ct_Chng_Q4_Q1               -2.6601      0.255    -10.419      0.000      -3.160      -2.160
Avg_Utilization_Ratio             -0.3726      0.335     -1.111      0.267      -1.030       0.285
Gender_M                          -0.9680      0.193     -5.005      0.000      -1.347      -0.589
Marital_Status_Married            -0.6676      0.195     -3.416      0.001      -1.051      -0.285
Marital_Status_Single             -0.0323      0.196     -0.165      0.869      -0.416       0.351
Income_Category_$60K - $80K       -0.4484      0.228     -1.963      0.050      -0.896      -0.001
Income_Category_Less than $40K    -0.7769      0.284     -2.731      0.006      -1.335      -0.219
Income_Category_$80K - $120K      -0.1162      0.212     -0.548      0.584      -0.532       0.300
Income_Category_$40K - $60K       -0.9040      0.263     -3.438      0.001      -1.419      -0.389
Card_Category_Gold                 0.8310      0.484      1.717      0.086      -0.117       1.779
Card_Category_Silver               0.4428      0.261      1.696      0.090      -0.069       0.954
Card_Category_Platinum             1.7425      1.164      1.496      0.135      -0.540       4.025
==================================================================================================

**Pominięcie Avg_Utilization_Ratio**

In [31]:
X_4 = X_train_logreg[[
    'Customer_Age',
    'Dependent_count',
    #'Months_on_book',
    'Total_Relationship_Count',
    'Months_Inactive_12_mon',
    'Contacts_Count_12_mon',
    #'Credit_Limit', 
    'Total_Revolving_Bal',
    'Avg_Open_To_Buy',
    'Total_Amt_Chng_Q4_Q1',
    'Total_Trans_Amt',
    'Total_Trans_Ct',
    'Total_Ct_Chng_Q4_Q1',
    #'Avg_Utilization_Ratio',
    'Gender_M',
    #'Education_Level_High School',
    #'Education_Level_Graduate',
    #'Education_Level_Uneducated',
    #'Education_Level_College',
    #'Education_Level_Post-Graduate',
    #'Education_Level_Doctorate',
    'Marital_Status_Married',
    'Marital_Status_Single',
    #'Marital_Status_Divorced',
    'Income_Category_$60K - $80K',
    'Income_Category_Less than $40K',
    'Income_Category_$80K - $120K',
    'Income_Category_$40K - $60K',
    #'Income_Category_$120K +',
    'Card_Category_Gold',
    'Card_Category_Silver',
    'Card_Category_Platinum'
                    ]]
X_4 = sm.add_constant(X_4)

/home/adam_s/um/moje_srod/lib/python3.8/site-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

In [32]:
log_reg_4 = sm.Logit(y_train_logreg.astype(float), X_4.astype(float)).fit()

Optimization terminated successfully.
         Current function value: 0.238666
         Iterations 8

In [33]:
print(log_reg_4.summary2())

                                Results: Logit
===============================================================================
Model:                   Logit                 Pseudo R-squared:      0.454
Dependent Variable:      Attrition_Flag        AIC:                   2578.6337
Date:                    2022-02-09 20:41      BIC:                   2723.3353
No. Observations:        5310                  Log-Likelihood:        -1267.3
Df Model:                21                    LL-Null:               -2322.0
Df Residuals:            5288                  LLR p-value:           0.0000
Converged:               1.0000                Scale:                 1.0000
No. Iterations:          8.0000
-------------------------------------------------------------------------------
                                Coef.  Std.Err.    z     P>|z|   [0.025  0.975]
-------------------------------------------------------------------------------
const                           7.2940   0.6144  11.8722 0.0000  6.0899  8.4982
Customer_Age                   -0.0190   0.0064  -2.9736 0.0029 -0.0315 -0.0065
Dependent_count                 0.1252   0.0409   3.0606 0.0022  0.0450  0.2054
Total_Relationship_Count       -0.4213   0.0375 -11.2470 0.0000 -0.4947 -0.3479
Months_Inactive_12_mon          0.4862   0.0527   9.2282 0.0000  0.3829  0.5895
Contacts_Count_12_mon           0.4834   0.0497   9.7303 0.0000  0.3860  0.5808
Total_Revolving_Bal            -0.0010   0.0001 -15.1973 0.0000 -0.0011 -0.0008
Avg_Open_To_Buy                -0.0000   0.0000  -1.9670 0.0492 -0.0000 -0.0000
Total_Amt_Chng_Q4_Q1           -0.5239   0.2611  -2.0069 0.0448 -1.0356 -0.0123
Total_Trans_Amt                 0.0005   0.0000  15.8169 0.0000  0.0004  0.0006
Total_Trans_Ct                 -0.1184   0.0051 -23.1905 0.0000 -0.1284 -0.1084
Total_Ct_Chng_Q4_Q1            -2.6624   0.2552 -10.4311 0.0000 -3.1627 -2.1621
Gender_M                       -0.9664   0.1934  -4.9981 0.0000 -1.3454 -0.5875
Marital_Status_Married         -0.6679   0.1956  -3.4152 0.0006 -1.0512 -0.2846
Marital_Status_Single          -0.0363   0.1958  -0.1853 0.8530 -0.4200  0.3475
Income_Category_$60K - $80K    -0.4366   0.2288  -1.9087 0.0563 -0.8850  0.0117
Income_Category_Less than $40K -0.7867   0.2847  -2.7633 0.0057 -1.3448 -0.2287
Income_Category_$80K - $120K   -0.1069   0.2125  -0.5034 0.6147 -0.5233  0.3095
Income_Category_$40K - $60K    -0.9034   0.2635  -3.4284 0.0006 -1.4199 -0.3870
Card_Category_Gold              0.8317   0.4871   1.7074 0.0877 -0.1230  1.7863
Card_Category_Silver            0.4403   0.2622   1.6791 0.0931 -0.0737  0.9542
Card_Category_Platinum          1.7533   1.1716   1.4965 0.1345 -0.5430  4.0497
===============================================================================

In [34]:
# test łącznej istotności Income_Category

x_vars = log_reg_4.summary2().tables[1].index
#x_vars
wald_str = ' = '.join(list(x_vars[15:19]))
wald_str

'Income_Category_$60K - $80K = Income_Category_Less than $40K = Income_Category_$80K - $120K = Income_Category_$40K - $60K'

In [35]:
wald_test = log_reg_4.wald_test(wald_str) # Wald test
wald_test

<class 'statsmodels.stats.contrast.ContrastResults'>
<Wald test (chi2): statistic=[[12.70740372]], p-value=0.0053140468223303, df_denom=3>

Test łącznej istotności parametrów przy zmiennych związanych z dochodem. Parametry przy zmiennych Income_Category_$60K - $80K oraz Income_Category_$80K - $120K nie są istotne statystycznie, natomiast pozostałe dwie kategorie oraz wspólny test wskazują na istotności statystyczną parametrów. Zasadne jest pozostawienie zmiennych w modelu.

In [36]:
# test łącznej istotności Card_Category

x_vars = log_reg_4.summary2().tables[1].index
#x_vars
wald_str = ' = '.join(list(x_vars[19:22]))
wald_str

'Card_Category_Gold = Card_Category_Silver = Card_Category_Platinum'

In [37]:
wald_test = log_reg_4.wald_test(wald_str) # Wald test
wald_test

<class 'statsmodels.stats.contrast.ContrastResults'>
<Wald test (chi2): statistic=[[1.70146941]], p-value=0.42710102424866614, df_denom=2>

Wszystkie parametry przy zmiennych dotyczących rodzaju karty są nie istotne statystycznie na poziomie istotności 0,05. Potwierdza to również test łączny dla tych parametrów. Zasadnym jest pominięcie tych zmiennych w modelu.

In [38]:
# test łącznej istotności Marital_Status

x_vars = log_reg_4.summary2().tables[1].index
#x_vars
wald_str = ' = '.join(list(x_vars[13:15]))
wald_str

'Marital_Status_Married = Marital_Status_Single'

In [39]:
wald_test = log_reg_4.wald_test(wald_str) # Wald test
wald_test

<class 'statsmodels.stats.contrast.ContrastResults'>
<Wald test (chi2): statistic=[[31.64116951]], p-value=1.8545596792041255e-08, df_denom=1>

Łączny test parametrów przy zmiennych dotyczących stanu cywilnego wskazuje na istotność statystyczną.

In [40]:
X_5 = X_train_logreg[[
    'Customer_Age',
    'Dependent_count',
    #'Months_on_book',
    'Total_Relationship_Count',
    'Months_Inactive_12_mon',
    'Contacts_Count_12_mon',
    #'Credit_Limit', 
    'Total_Revolving_Bal',
    'Avg_Open_To_Buy',
    'Total_Amt_Chng_Q4_Q1',
    'Total_Trans_Amt',
    'Total_Trans_Ct',
    'Total_Ct_Chng_Q4_Q1',
    #'Avg_Utilization_Ratio',
    'Gender_M',
    #'Education_Level_High School',
    #'Education_Level_Graduate',
    #'Education_Level_Uneducated',
    #'Education_Level_College',
    #'Education_Level_Post-Graduate',
    #'Education_Level_Doctorate',
    'Marital_Status_Married',
    'Marital_Status_Single',
    #'Marital_Status_Divorced',
    'Income_Category_$60K - $80K',
    'Income_Category_Less than $40K',
    'Income_Category_$80K - $120K',
    'Income_Category_$40K - $60K'
    #'Income_Category_$120K +',
    #'Card_Category_Gold',
    #'Card_Category_Silver',
    #'Card_Category_Platinum'
                    ]]
X_5 = sm.add_constant(X_5)

/home/adam_s/um/moje_srod/lib/python3.8/site-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

In [41]:
log_reg_5 = sm.Logit(y_train_logreg.astype(float), X_5.astype(float)).fit()

Optimization terminated successfully.
         Current function value: 0.239254
         Iterations 8

In [42]:
print(log_reg_5.summary2())

                                Results: Logit
===============================================================================
Model:                   Logit                 Pseudo R-squared:      0.453
Dependent Variable:      Attrition_Flag        AIC:                   2578.8797
Date:                    2022-02-09 20:41      BIC:                   2703.8493
No. Observations:        5310                  Log-Likelihood:        -1270.4
Df Model:                18                    LL-Null:               -2322.0
Df Residuals:            5291                  LLR p-value:           0.0000
Converged:               1.0000                Scale:                 1.0000
No. Iterations:          8.0000
-------------------------------------------------------------------------------
                                Coef.  Std.Err.    z     P>|z|   [0.025  0.975]
-------------------------------------------------------------------------------
const                           7.1118   0.6083  11.6908 0.0000  5.9195  8.3041
Customer_Age                   -0.0189   0.0064  -2.9607 0.0031 -0.0314 -0.0064
Dependent_count                 0.1261   0.0408   3.0884 0.0020  0.0461  0.2061
Total_Relationship_Count       -0.4210   0.0374 -11.2562 0.0000 -0.4943 -0.3477
Months_Inactive_12_mon          0.4892   0.0526   9.3019 0.0000  0.3861  0.5923
Contacts_Count_12_mon           0.4846   0.0496   9.7670 0.0000  0.3874  0.5819
Total_Revolving_Bal            -0.0010   0.0001 -15.0910 0.0000 -0.0011 -0.0008
Avg_Open_To_Buy                -0.0000   0.0000  -0.9493 0.3425 -0.0000  0.0000
Total_Amt_Chng_Q4_Q1           -0.5115   0.2609  -1.9608 0.0499 -1.0227 -0.0002
Total_Trans_Amt                 0.0005   0.0000  16.0142 0.0000  0.0004  0.0006
Total_Trans_Ct                 -0.1181   0.0051 -23.1939 0.0000 -0.1281 -0.1081
Total_Ct_Chng_Q4_Q1            -2.6716   0.2551 -10.4724 0.0000 -3.1716 -2.1716
Gender_M                       -0.9613   0.1930  -4.9807 0.0000 -1.3395 -0.5830
Marital_Status_Married         -0.6629   0.1949  -3.4006 0.0007 -1.0450 -0.2808
Marital_Status_Single          -0.0329   0.1953  -0.1684 0.8663 -0.4156  0.3498
Income_Category_$60K - $80K    -0.3781   0.2269  -1.6668 0.0955 -0.8228  0.0665
Income_Category_Less than $40K -0.6733   0.2798  -2.4060 0.0161 -1.2217 -0.1248
Income_Category_$80K - $120K   -0.0979   0.2117  -0.4625 0.6437 -0.5129  0.3170
Income_Category_$40K - $60K    -0.7960   0.2588  -3.0752 0.0021 -1.3033 -0.2887
===============================================================================

**Pominięcie zmiennej Avg_Open_To_Buy**

In [43]:
X_6 = X_train_logreg[[
    'Customer_Age',
    'Dependent_count',
    #'Months_on_book',
    'Total_Relationship_Count',
    'Months_Inactive_12_mon',
    'Contacts_Count_12_mon',
    #'Credit_Limit', 
    'Total_Revolving_Bal',
    #'Avg_Open_To_Buy',
    'Total_Amt_Chng_Q4_Q1',
    'Total_Trans_Amt',
    'Total_Trans_Ct',
    'Total_Ct_Chng_Q4_Q1',
    #'Avg_Utilization_Ratio',
    'Gender_M',
    #'Education_Level_High School',
    #'Education_Level_Graduate',
    #'Education_Level_Uneducated',
    #'Education_Level_College',
    #'Education_Level_Post-Graduate',
    #'Education_Level_Doctorate',
    'Marital_Status_Married',
    'Marital_Status_Single',
    #'Marital_Status_Divorced',
    'Income_Category_$60K - $80K',
    'Income_Category_Less than $40K',
    'Income_Category_$80K - $120K',
    'Income_Category_$40K - $60K'
    #'Income_Category_$120K +',
    #'Card_Category_Gold',
    #'Card_Category_Silver',
    #'Card_Category_Platinum'
                    ]]
X_6 = sm.add_constant(X_6)

/home/adam_s/um/moje_srod/lib/python3.8/site-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

In [44]:
log_reg_6 = sm.Logit(y_train_logreg.astype(float), X_6.astype(float)).fit()

Optimization terminated successfully.
         Current function value: 0.239339
         Iterations 8

In [45]:
print(log_reg_6.summary2())

                                Results: Logit
===============================================================================
Model:                   Logit                 Pseudo R-squared:      0.453
Dependent Variable:      Attrition_Flag        AIC:                   2577.7852
Date:                    2022-02-09 20:41      BIC:                   2696.1774
No. Observations:        5310                  Log-Likelihood:        -1270.9
Df Model:                17                    LL-Null:               -2322.0
Df Residuals:            5292                  LLR p-value:           0.0000
Converged:               1.0000                Scale:                 1.0000
No. Iterations:          8.0000
-------------------------------------------------------------------------------
                                Coef.  Std.Err.    z     P>|z|   [0.025  0.975]
-------------------------------------------------------------------------------
const                           7.0106   0.5987  11.7093 0.0000  5.8371  8.1841
Customer_Age                   -0.0192   0.0064  -3.0049 0.0027 -0.0317 -0.0067
Dependent_count                 0.1242   0.0408   3.0466 0.0023  0.0443  0.2041
Total_Relationship_Count       -0.4209   0.0374 -11.2533 0.0000 -0.4942 -0.3476
Months_Inactive_12_mon          0.4900   0.0526   9.3149 0.0000  0.3869  0.5930
Contacts_Count_12_mon           0.4830   0.0496   9.7461 0.0000  0.3859  0.5802
Total_Revolving_Bal            -0.0009   0.0001 -15.0756 0.0000 -0.0011 -0.0008
Total_Amt_Chng_Q4_Q1           -0.5161   0.2610  -1.9777 0.0480 -1.0276 -0.0046
Total_Trans_Amt                 0.0005   0.0000  16.0056 0.0000  0.0004  0.0006
Total_Trans_Ct                 -0.1180   0.0051 -23.1834 0.0000 -0.1280 -0.1080
Total_Ct_Chng_Q4_Q1            -2.6701   0.2552 -10.4647 0.0000 -3.1702 -2.1700
Gender_M                       -0.9668   0.1928  -5.0138 0.0000 -1.3448 -0.5889
Marital_Status_Married         -0.6541   0.1946  -3.3618 0.0008 -1.0355 -0.2728
Marital_Status_Single          -0.0328   0.1952  -0.1679 0.8666 -0.4153  0.3497
Income_Category_$60K - $80K    -0.3226   0.2194  -1.4705 0.1414 -0.7525  0.1074
Income_Category_Less than $40K -0.5741   0.2599  -2.2088 0.0272 -1.0836 -0.0647
Income_Category_$80K - $120K   -0.0737   0.2101  -0.3510 0.7256 -0.4855  0.3380
Income_Category_$40K - $60K    -0.7050   0.2407  -2.9294 0.0034 -1.1766 -0.2333
===============================================================================

In [46]:
# test łącznej istotności Marital_Status

x_vars = log_reg_6.summary2().tables[1].index
#x_vars
wald_str = ' = '.join(list(x_vars[12:14]))
wald_str

'Marital_Status_Married = Marital_Status_Single'

In [47]:
wald_test = log_reg_6.wald_test(wald_str) # Wald test
wald_test

<class 'statsmodels.stats.contrast.ContrastResults'>
<Wald test (chi2): statistic=[[30.99708796]], p-value=2.5841585610824837e-08, df_denom=1>

Łączny test parametrów przy zmiennych dotyczących stanu cywilnego wskazuje na istotność statystyczną.

In [48]:
# test łącznej istotności Income_Category

x_vars = log_reg_6.summary2().tables[1].index
#x_vars
wald_str = ' = '.join(list(x_vars[14:18]))
wald_str

'Income_Category_$60K - $80K = Income_Category_Less than $40K = Income_Category_$80K - $120K = Income_Category_$40K - $60K'

In [49]:
wald_test = log_reg_6.wald_test(wald_str) # Wald test
wald_test

<class 'statsmodels.stats.contrast.ContrastResults'>
<Wald test (chi2): statistic=[[9.22302688]], p-value=0.026467986954468205, df_denom=3>

Test łącznej istotności parametrów przy zmiennych związanych z dochodem. Parametry przy zmiennych Income_Category_$60K - $80K oraz Income_Category_$80K - $120K nie są istotne statystycznie, natomiast pozostałe dwie kategorie oraz wspólny test wskazują na istotności statystyczną parametrów. Zasadne jest pozostawienie zmiennych w modelu.

**Finalny model to log_reg_6**

**Ilorazy szans**

In [51]:
np.exp(log_reg_6.params)

const                             1108.339307
Customer_Age                         0.981015
Dependent_count                      1.132214
Total_Relationship_Count             0.656484
Months_Inactive_12_mon               1.632241
Contacts_Count_12_mon                1.620977
Total_Revolving_Bal                  0.999051
Total_Amt_Chng_Q4_Q1                 0.596824
Total_Trans_Amt                      1.000491
Total_Trans_Ct                       0.888688
Total_Ct_Chng_Q4_Q1                  0.069245
Gender_M                             0.380292
Marital_Status_Married               0.519896
Marital_Status_Single                0.967759
Income_Category_$60K - $80K          0.724283
Income_Category_Less than $40K       0.563193
Income_Category_$80K - $120K         0.928912
Income_Category_$40K - $60K          0.494123
dtype: float64

Wzrost wieku o jeden rok spowoduje spadek szans na rezygnację z usług kart kredytowych o 2%.
Kolejna dodatkowa osoba na utrzymaniu klienta spowoduje wzrost szans na rezygnację z usług kart kredytowych o 13%.
Osoby w związku małżeńskim, w porównaniu do osób rozwiedzionych, mają o 52% mniejsze szanse na rezygnację z usług kart kredytowych. Osoby o dochodach poniżej 40 tys. dolarów mają o 44% mniejsze szanse na rezygnację z usług kart kredytowych, w porównaniu do osób o dochodach większych niż 120 tys. dolarów. Mężczyźni mają o 62% mniejsze szanse na rezygnację z usług kart kredytowych w porównaniu do kobiet.

In [52]:
X_6_test = X_test_logreg[[
    'Customer_Age',
    'Dependent_count',
    #'Months_on_book',
    'Total_Relationship_Count',
    'Months_Inactive_12_mon',
    'Contacts_Count_12_mon',
    #'Credit_Limit', 
    'Total_Revolving_Bal',
    #'Avg_Open_To_Buy',
    'Total_Amt_Chng_Q4_Q1',
    'Total_Trans_Amt',
    'Total_Trans_Ct',
    'Total_Ct_Chng_Q4_Q1',
    #'Avg_Utilization_Ratio',
    'Gender_M',
    #'Education_Level_High School',
    #'Education_Level_Graduate',
    #'Education_Level_Uneducated',
    #'Education_Level_College',
    #'Education_Level_Post-Graduate',
    #'Education_Level_Doctorate',
    'Marital_Status_Married',
    'Marital_Status_Single',
    #'Marital_Status_Divorced',
    'Income_Category_$60K - $80K',
    'Income_Category_Less than $40K',
    'Income_Category_$80K - $120K',
    'Income_Category_$40K - $60K'
    #'Income_Category_$120K +',
    #'Card_Category_Gold',
    #'Card_Category_Silver',
    #'Card_Category_Platinum'
               ]]
X_6_test = sm.add_constant(X_6_test)

/home/adam_s/um/moje_srod/lib/python3.8/site-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

In [53]:
y_test_logreg = y_test_logreg.astype(float)
y_test_logreg.describe()

count    1771.000000
mean        0.153021
std         0.360109
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max         1.000000
Name: Attrition_Flag, dtype: float64

In [54]:
predicted_y_logreg = log_reg_6.predict(X_6_test)
predicted_y_logreg = np.round(predicted_y_logreg, 0).astype(float)
predicted_y_logreg

9866    0.0
9239    0.0
963     0.0
1999    1.0
2531    0.0
       ...
9288    0.0
1961    0.0
6059    0.0
9300    0.0
2827    0.0
Length: 1771, dtype: float64

In [55]:
print(metrics.accuracy_score(y_test_logreg, predicted_y_logreg))
print(metrics.confusion_matrix(y_test_logreg, predicted_y_logreg))
print(metrics.classification_report(y_test_logreg, predicted_y_logreg))

0.9040090344438171
[[1443   57]
 [ 113  158]]
              precision    recall  f1-score   support

         0.0       0.93      0.96      0.94      1500
         1.0       0.73      0.58      0.65       271

    accuracy                           0.90      1771
   macro avg       0.83      0.77      0.80      1771
weighted avg       0.90      0.90      0.90      1771

Accuracy na zbiorze testowym wynosi 90%. Model 158 razy poprawnie przewidział rezygnację z usług kart kredytowych, gdzie w rzeczywistości również miało to miejsce. 1443 razy model poprawnie przewidział dalsze korzystanie z usług kart kredytowych, gdzie w rzeczywistości również miało to miejsce. 113 razy model przewidział dalsze korzystanie z usług kart kredytowych, gdzie w rzeczywistości nie miało to miejsca. 57 razy model przewidział rezygnację z usług kart kredytowych, gdzie w rzeczywistości nie miało to miejsca.

In [56]:
pred_train_y = log_reg_6.predict(X_6)
pred_train_y = np.round(pred_train_y, 0).astype(float)
pred_train_y

8101     0.0
8916     0.0
7945     0.0
10061    0.0
4743     1.0
        ...
5242     0.0
7365     0.0
7413     1.0
7681     0.0
1158     0.0
Length: 5310, dtype: float64

In [57]:
print(metrics.accuracy_score(y_train_logreg.astype(float), pred_train_y))
print(metrics.confusion_matrix(y_train_logreg.astype(float), pred_train_y))
print(metrics.classification_report(y_train_logreg.astype(float), pred_train_y))

0.9024482109227872
[[4314  154]
 [ 364  478]]
              precision    recall  f1-score   support

         0.0       0.92      0.97      0.94      4468
         1.0       0.76      0.57      0.65       842

    accuracy                           0.90      5310
   macro avg       0.84      0.77      0.80      5310
weighted avg       0.90      0.90      0.90      5310

Prezycja modelu na zbiorze treningowym