In [1]:
import pandas as pd
import numpy as np
from scipy import c_, stats
from sklearn import metrics

import statsmodels.api as sm
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv("BankChurners.csv")

In [3]:
df = df.drop(['CLIENTNUM', 'Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1', 'Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2'], axis=1)

In [4]:
df.drop(df[df['Marital_Status'] == "Unknown"].index, inplace=True)
df.drop(df[df['Income_Category'] == "Unknown"].index, inplace=True)
df.drop(df[df['Education_Level'] == "Unknown"].index, inplace=True)
df.drop(df[df['Card_Category'] == "Unknown"].index, inplace=True)

In [5]:
df['Attrition_Flag'] = df['Attrition_Flag'].replace(['Existing Customer'],'1')
df['Attrition_Flag'] = df['Attrition_Flag'].replace(['Attrited Customer'],'0')

In [6]:
df

,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
0,1,45,M,3,High School,Married,$60K - $80K,Blue,39,5,1,3,12691.0,777,11914.0,1.335,1144,42,1.625,0.061
1,1,49,F,5,Graduate,Single,Less than $40K,Blue,44,6,1,2,8256.0,864,7392.0,1.541,1291,33,3.714,0.105
2,1,51,M,3,Graduate,Married,$80K - $120K,Blue,36,4,1,0,3418.0,0,3418.0,2.594,1887,20,2.333,0.000
4,1,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,5,1,0,4716.0,0,4716.0,2.175,816,28,2.500,0.000
5,1,44,M,2,Graduate,Married,$40K - $60K,Blue,36,3,1,2,4010.0,1247,2763.0,1.376,1088,24,0.846,0.311
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10120,1,54,M,1,High School,Single,$60K - $80K,Blue,34,5,2,0,13940.0,2109,11831.0,0.660,15577,114,0.754,0.151
10121,1,56,F,1,Graduate,Single,Less than $40K,Blue,50,4,1,4,3688.0,606,3082.0,0.570,14596,120,0.791,0.164
10122,1,50,M,2,Graduate,Single,$40K - $60K,Blue,40,3,2,3,4003.0,1851,2152.0,0.703,15476,117,0.857,0.462
10124,0,44,F,1,High School,Married,Less than $40K,Blue,36,5,3,4,5409.0,0,5409.0,0.819,10291,60,0.818,0.000
10126,0,43,F,2,Graduate,Married,Less than $40K,Silver,25,6,2,4,10388.0,1961,8427.0,0.703,10294,61,0.649,0.189

In [7]:
X = pd.get_dummies(df, columns=['Gender', 'Education_Level', 'Marital_Status', 'Income_Category', 'Card_Category'], drop_first=True)
X = X.drop(['Attrition_Flag'],axis=1)

In [8]:
X_logreg = sm.add_constant(X)

/home/adam_s/um/moje_srod/lib/python3.8/site-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

In [9]:
X.columns

Index(['Customer_Age', 'Dependent_count', 'Months_on_book',
       'Total_Relationship_Count', 'Months_Inactive_12_mon',
       'Contacts_Count_12_mon', 'Credit_Limit', 'Total_Revolving_Bal',
       'Avg_Open_To_Buy', 'Total_Amt_Chng_Q4_Q1', 'Total_Trans_Amt',
       'Total_Trans_Ct', 'Total_Ct_Chng_Q4_Q1', 'Avg_Utilization_Ratio',
       'Gender_M', 'Education_Level_Doctorate', 'Education_Level_Graduate',
       'Education_Level_High School', 'Education_Level_Post-Graduate',
       'Education_Level_Uneducated', 'Marital_Status_Married',
       'Marital_Status_Single', 'Income_Category_$40K - $60K',
       'Income_Category_$60K - $80K', 'Income_Category_$80K - $120K',
       'Income_Category_Less than $40K', 'Card_Category_Gold',
       'Card_Category_Platinum', 'Card_Category_Silver'],
      dtype='object')

In [10]:
X_logreg.describe()

,const,Customer_Age,Dependent_count,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,...,Education_Level_Uneducated,Marital_Status_Married,Marital_Status_Single,Income_Category_$40K - $60K,Income_Category_$60K - $80K,Income_Category_$80K - $120K,Income_Category_Less than $40K,Card_Category_Gold,Card_Category_Platinum,Card_Category_Silver
count,7081.0,7081.000000,7081.000000,7081.000000,7081.000000,7081.000000,7081.000000,7081.000000,7081.000000,7081.000000,...,7081.000000,7081.000000,7081.000000,7081.000000,7081.000000,7081.00000,7081.000000,7081.000000,7081.000000,7081.000000
mean,1.0,46.347691,2.337805,35.981359,3.819376,2.342607,2.454456,8492.773831,1167.501624,7325.272207,...,0.170032,0.503319,0.416325,0.199407,0.155769,0.16975,0.394295,0.011439,0.001553,0.055218
std,0.0,8.041225,1.291649,8.002609,1.544444,0.995104,1.104917,9126.072520,812.315606,9131.217585,...,0.375688,0.500024,0.492984,0.399583,0.362662,0.37544,0.488733,0.106348,0.039386,0.228422
min,1.0,26.000000,0.000000,13.000000,1.000000,0.000000,0.000000,1438.300000,0.000000,3.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000
25%,1.0,41.000000,1.000000,31.000000,3.000000,2.000000,2.000000,2498.000000,463.000000,1248.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000
50%,1.0,46.000000,2.000000,36.000000,4.000000,2.000000,2.000000,4287.000000,1282.000000,3250.000000,...,0.000000,1.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000
75%,1.0,52.000000,3.000000,40.000000,5.000000,3.000000,3.000000,10729.000000,1781.000000,9491.000000,...,0.000000,1.000000,1.000000,0.000000,0.000000,0.00000,1.000000,0.000000,0.000000,0.000000
max,1.0,73.000000,5.000000,56.000000,6.000000,6.000000,6.000000,34516.000000,2517.000000,34516.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000

In [11]:
y = df['Attrition_Flag']

In [12]:
y

0        1
1        1
2        1
4        1
5        1
        ..
10120    1
10121    1
10122    1
10124    0
10126    0
Name: Attrition_Flag, Length: 7081, dtype: object

In [13]:
X_train_logreg, X_test_logreg, y_train_logreg, y_test_logreg = train_test_split(X_logreg, y, random_state=42)


#scaler = MinMaxScaler()
#X_train = scaler.fit_transform(X_train)
#X_test = scaler.transform(X_test)

In [108]:
y_train_logreg.astype(float).describe()

count    5310.000000
mean        0.841431
std         0.365308
min         0.000000
25%         1.000000
50%         1.000000
75%         1.000000
max         1.000000
Name: Attrition_Flag, dtype: float64

In [14]:
X_train_logreg.shape

(5310, 30)

In [15]:
y_train_logreg.shape

(5310,)

In [16]:
X_1 = X_train_logreg[[
    'Customer_Age',
    'Dependent_count',
    'Months_on_book',
    'Total_Relationship_Count',
    'Months_Inactive_12_mon',
    'Contacts_Count_12_mon',
    #'Credit_Limit', 
    'Total_Revolving_Bal',
    'Avg_Open_To_Buy',
    'Total_Amt_Chng_Q4_Q1',
    'Total_Trans_Amt',
    'Total_Trans_Ct',
    'Total_Ct_Chng_Q4_Q1',
    'Avg_Utilization_Ratio',
    'Gender_M',
    'Education_Level_High School',
    'Education_Level_Graduate',
    'Education_Level_Uneducated',
    #'Education_Level_College',
    'Education_Level_Post-Graduate',
    'Education_Level_Doctorate',
    'Marital_Status_Married',
    'Marital_Status_Single',
    #'Marital_Status_Divorced',
    'Income_Category_$60K - $80K',
    'Income_Category_Less than $40K',
    'Income_Category_$80K - $120K',
    'Income_Category_$40K - $60K',
    #'Income_Category_$120K +',
    'Card_Category_Gold',
    'Card_Category_Silver',
    'Card_Category_Platinum'
               ]]
X_1 = sm.add_constant(X_1)

/home/adam_s/um/moje_srod/lib/python3.8/site-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

In [17]:
X_1

,const,Customer_Age,Dependent_count,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,...,Education_Level_Doctorate,Marital_Status_Married,Marital_Status_Single,Income_Category_$60K - $80K,Income_Category_Less than $40K,Income_Category_$80K - $120K,Income_Category_$40K - $60K,Card_Category_Gold,Card_Category_Silver,Card_Category_Platinum
8101,1.0,46,4,36,2,1,1,1043,1128.0,0.700,...,0,1,0,0,0,1,0,0,0,0
8916,1.0,51,1,37,1,3,2,2416,24902.0,0.917,...,0,0,1,0,0,1,0,0,0,0
7945,1.0,45,4,36,1,3,3,0,4688.0,0.593,...,0,0,1,0,0,0,1,0,0,0
10061,1.0,44,2,31,3,2,3,2028,2154.0,0.658,...,0,0,1,0,1,0,0,0,0,0
4743,1.0,48,3,42,3,2,4,0,19075.0,0.807,...,0,0,1,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5242,1.0,49,3,36,5,3,4,0,1438.3,0.929,...,0,1,0,0,1,0,0,0,0,0
7365,1.0,44,5,30,3,3,1,1726,983.0,0.698,...,0,0,1,0,1,0,0,0,0,0
7413,1.0,50,1,36,4,3,2,0,2317.0,0.734,...,0,0,1,1,0,0,0,0,0,0
7681,1.0,49,4,35,5,3,2,2133,905.0,0.689,...,0,1,0,0,1,0,0,0,0,0
1158,1.0,26,0,15,5,1,2,1720,6547.0,0.633,...,0,0,1,1,0,0,0,0,0,0

Credit_Limit powoduje że macierzy nie da się odwrócić (wyznacznik równy 0). Reszta zmiennych nie sprawia jakiś wielkich problemów. Kwestia teraz zbudowania odpowiedniego modelu + interpretacje + jakieś chociaż ilorazy szans.

In [31]:
log_reg_1 = sm.Logit(y_train_logreg.astype(float), X_1.astype(float)).fit()

Optimization terminated successfully.
         Current function value: 0.237683
         Iterations 8

In [32]:
print(log_reg_1.summary())

                           Logit Regression Results
==============================================================================
Dep. Variable:         Attrition_Flag   No. Observations:                 5310
Model:                          Logit   Df Residuals:                     5281
Method:                           MLE   Df Model:                           28
Date:                Mon, 07 Feb 2022   Pseudo R-squ.:                  0.4565
Time:                        16:14:15   Log-Likelihood:                -1262.1
converged:                       True   LL-Null:                       -2322.0
Covariance Type:            nonrobust   LLR p-value:                     0.000
==================================================================================================
                                     coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------------------------
const                             -7.2959      0.631    -11.567      0.000      -8.532      -6.060
Customer_Age                       0.0134      0.011      1.259      0.208      -0.007       0.034
Dependent_count                   -0.1287      0.041     -3.135      0.002      -0.209      -0.048
Months_on_book                     0.0074      0.011      0.694      0.488      -0.013       0.028
Total_Relationship_Count           0.4178      0.038     11.125      0.000       0.344       0.491
Months_Inactive_12_mon            -0.4965      0.053     -9.329      0.000      -0.601      -0.392
Contacts_Count_12_mon             -0.4861      0.050     -9.762      0.000      -0.584      -0.388
Total_Revolving_Bal                0.0009   9.58e-05      9.276      0.000       0.001       0.001
Avg_Open_To_Buy                 2.118e-05   9.48e-06      2.236      0.025    2.61e-06    3.98e-05
Total_Amt_Chng_Q4_Q1               0.5443      0.262      2.075      0.038       0.030       1.058
Total_Trans_Amt                   -0.0005   3.11e-05    -15.715      0.000      -0.001      -0.000
Total_Trans_Ct                     0.1184      0.005     23.127      0.000       0.108       0.128
Total_Ct_Chng_Q4_Q1                2.6349      0.256     10.287      0.000       2.133       3.137
Avg_Utilization_Ratio              0.3691      0.337      1.096      0.273      -0.291       1.029
Gender_M                           0.9673      0.194      4.988      0.000       0.587       1.347
Education_Level_High School        0.0894      0.184      0.486      0.627      -0.271       0.450
Education_Level_Graduate           0.0201      0.171      0.117      0.907      -0.316       0.356
Education_Level_Uneducated         0.1029      0.196      0.524      0.600      -0.282       0.488
Education_Level_Post-Graduate     -0.2137      0.258     -0.829      0.407      -0.719       0.292
Education_Level_Doctorate         -0.5491      0.261     -2.104      0.035      -1.061      -0.038
Marital_Status_Married             0.6714      0.197      3.413      0.001       0.286       1.057
Marital_Status_Single              0.0314      0.197      0.159      0.873      -0.355       0.417
Income_Category_$60K - $80K        0.4573      0.229      1.996      0.046       0.008       0.906
Income_Category_Less than $40K     0.7770      0.286      2.719      0.007       0.217       1.337
Income_Category_$80K - $120K       0.1197      0.213      0.563      0.573      -0.297       0.536
Income_Category_$40K - $60K        0.9122      0.264      3.455      0.001       0.395       1.430
Card_Category_Gold                -0.8541      0.484     -1.766      0.077      -1.802       0.094
Card_Category_Silver              -0.4521      0.262     -1.728      0.084      -0.965       0.061
Card_Category_Platinum            -1.6954      1.187     -1.428      0.153      -4.022       0.631
==================================================================================================

In [33]:
# test łącznej istotności Education_Level

x_vars = log_reg_1.summary2().tables[1].index
#x_vars
wald_str = ' = '.join(list(x_vars[15:20]))
wald_str

'Education_Level_High School = Education_Level_Graduate = Education_Level_Uneducated = Education_Level_Post-Graduate = Education_Level_Doctorate'

In [59]:
wald_test = log_reg_1.wald_test(wald_str) # joint test
wald_test

<class 'statsmodels.stats.contrast.ContrastResults'>
<Wald test (chi2): statistic=[[12.59149448]], p-value=0.005608707189585004, df_denom=3>

Można usunąć zmienne dotyczące wykształcenia, pojedyncze zmienne nie istotne statystycznie, również łączny test to potwierdza.

In [41]:
X_2 = X_train_logreg[[
    'Customer_Age',
    'Dependent_count',
    'Months_on_book',
    'Total_Relationship_Count',
    'Months_Inactive_12_mon',
    'Contacts_Count_12_mon',
    #'Credit_Limit', 
    'Total_Revolving_Bal',
    'Avg_Open_To_Buy',
    'Total_Amt_Chng_Q4_Q1',
    'Total_Trans_Amt',
    'Total_Trans_Ct',
    'Total_Ct_Chng_Q4_Q1',
    'Avg_Utilization_Ratio',
    'Gender_M',
    #'Education_Level_High School',
    #'Education_Level_Graduate',
    #'Education_Level_Uneducated',
    #'Education_Level_College',
    #'Education_Level_Post-Graduate',
    #'Education_Level_Doctorate',
    'Marital_Status_Married',
    'Marital_Status_Single',
    #'Marital_Status_Divorced',
    'Income_Category_$60K - $80K',
    'Income_Category_Less than $40K',
    'Income_Category_$80K - $120K',
    'Income_Category_$40K - $60K',
    #'Income_Category_$120K +',
    'Card_Category_Gold',
    'Card_Category_Silver',
    'Card_Category_Platinum'
               ]]
X_2 = sm.add_constant(X_2)

/home/adam_s/um/moje_srod/lib/python3.8/site-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

**Bez edukacji**

In [42]:
log_reg_2 = sm.Logit(y_train_logreg.astype(float), X_2.astype(float)).fit()

Optimization terminated successfully.
         Current function value: 0.238503
         Iterations 8

In [43]:
print(log_reg_2.summary())

                           Logit Regression Results
==============================================================================
Dep. Variable:         Attrition_Flag   No. Observations:                 5310
Model:                          Logit   Df Residuals:                     5286
Method:                           MLE   Df Model:                           23
Date:                Mon, 07 Feb 2022   Pseudo R-squ.:                  0.4546
Time:                        16:15:05   Log-Likelihood:                -1266.5
converged:                       True   LL-Null:                       -2322.0
Covariance Type:            nonrobust   LLR p-value:                     0.000
==================================================================================================
                                     coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------------------------
const                             -7.2979      0.615    -11.865      0.000      -8.503      -6.092
Customer_Age                       0.0131      0.011      1.245      0.213      -0.008       0.034
Dependent_count                   -0.1248      0.041     -3.049      0.002      -0.205      -0.045
Months_on_book                     0.0074      0.011      0.700      0.484      -0.013       0.028
Total_Relationship_Count           0.4212      0.037     11.235      0.000       0.348       0.495
Months_Inactive_12_mon            -0.4921      0.053     -9.274      0.000      -0.596      -0.388
Contacts_Count_12_mon             -0.4831      0.050     -9.719      0.000      -0.580      -0.386
Total_Revolving_Bal                0.0009   9.55e-05      9.262      0.000       0.001       0.001
Avg_Open_To_Buy                 2.128e-05   9.45e-06      2.252      0.024    2.76e-06    3.98e-05
Total_Amt_Chng_Q4_Q1               0.5170      0.261      1.982      0.047       0.006       1.028
Total_Trans_Amt                   -0.0005   3.11e-05    -15.678      0.000      -0.001      -0.000
Total_Trans_Ct                     0.1180      0.005     23.109      0.000       0.108       0.128
Total_Ct_Chng_Q4_Q1                2.6616      0.255     10.429      0.000       2.161       3.162
Avg_Utilization_Ratio              0.3807      0.336      1.134      0.257      -0.277       1.039
Gender_M                           0.9647      0.193      4.987      0.000       0.586       1.344
Marital_Status_Married             0.6697      0.195      3.426      0.001       0.287       1.053
Marital_Status_Single              0.0334      0.196      0.170      0.865      -0.350       0.417
Income_Category_$60K - $80K        0.4449      0.229      1.947      0.052      -0.003       0.893
Income_Category_Less than $40K     0.7706      0.285      2.707      0.007       0.213       1.329
Income_Category_$80K - $120K       0.1147      0.212      0.541      0.589      -0.301       0.531
Income_Category_$40K - $60K        0.8988      0.263      3.416      0.001       0.383       1.415
Card_Category_Gold                -0.8302      0.484     -1.715      0.086      -1.779       0.119
Card_Category_Silver              -0.4455      0.261     -1.706      0.088      -0.957       0.066
Card_Category_Platinum            -1.7186      1.165     -1.475      0.140      -4.002       0.565
==================================================================================================

In [47]:
x_vars = log_reg_2.summary2().tables[1].index
#x_vars
wald_str = ' = '.join(list(x_vars[15:17]))
wald_str

'Marital_Status_Married = Marital_Status_Single'

In [58]:
wald_test = log_reg_2.wald_test(wald_str) # joint test
wald_test

<class 'statsmodels.stats.contrast.ContrastResults'>
<Wald test (chi2): statistic=[[12.36623003]], p-value=0.006228335136686634, df_denom=3>

Ten sam test na zmienną Marital_Status, tutaj można zostawić obie zmienne.

**Bez Months_on_book**

In [51]:
X_3 = X_train_logreg[[
    'Customer_Age',
    'Dependent_count',
    #'Months_on_book',
    'Total_Relationship_Count',
    'Months_Inactive_12_mon',
    'Contacts_Count_12_mon',
    #'Credit_Limit', 
    'Total_Revolving_Bal',
    'Avg_Open_To_Buy',
    'Total_Amt_Chng_Q4_Q1',
    'Total_Trans_Amt',
    'Total_Trans_Ct',
    'Total_Ct_Chng_Q4_Q1',
    'Avg_Utilization_Ratio',
    'Gender_M',
    #'Education_Level_High School',
    #'Education_Level_Graduate',
    #'Education_Level_Uneducated',
    #'Education_Level_College',
    #'Education_Level_Post-Graduate',
    #'Education_Level_Doctorate',
    'Marital_Status_Married',
    'Marital_Status_Single',
    #'Marital_Status_Divorced',
    'Income_Category_$60K - $80K',
    'Income_Category_Less than $40K',
    'Income_Category_$80K - $120K',
    'Income_Category_$40K - $60K',
    #'Income_Category_$120K +',
    'Card_Category_Gold',
    'Card_Category_Silver',
    'Card_Category_Platinum'
               ]]
X_3 = sm.add_constant(X_3)

Bez Months_on_book

In [52]:
log_reg_3 = sm.Logit(y_train_logreg.astype(float), X_3.astype(float)).fit()

Optimization terminated successfully.
         Current function value: 0.238549
         Iterations 8

In [53]:
print(log_reg_3.summary())

                           Logit Regression Results
==============================================================================
Dep. Variable:         Attrition_Flag   No. Observations:                 5310
Model:                          Logit   Df Residuals:                     5287
Method:                           MLE   Df Model:                           22
Date:                Mon, 07 Feb 2022   Pseudo R-squ.:                  0.4545
Time:                        16:16:48   Log-Likelihood:                -1266.7
converged:                       True   LL-Null:                       -2322.0
Covariance Type:            nonrobust   LLR p-value:                     0.000
==================================================================================================
                                     coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------------------------
const                             -7.3161      0.615    -11.901      0.000      -8.521      -6.111
Customer_Age                       0.0190      0.006      2.977      0.003       0.007       0.032
Dependent_count                   -0.1255      0.041     -3.065      0.002      -0.206      -0.045
Total_Relationship_Count           0.4210      0.037     11.232      0.000       0.348       0.494
Months_Inactive_12_mon            -0.4888      0.053     -9.252      0.000      -0.592      -0.385
Contacts_Count_12_mon             -0.4828      0.050     -9.721      0.000      -0.580      -0.385
Total_Revolving_Bal                0.0009   9.55e-05      9.288      0.000       0.001       0.001
Avg_Open_To_Buy                 2.119e-05   9.45e-06      2.243      0.025    2.67e-06    3.97e-05
Total_Amt_Chng_Q4_Q1               0.5168      0.261      1.982      0.048       0.006       1.028
Total_Trans_Amt                   -0.0005   3.11e-05    -15.719      0.000      -0.001      -0.000
Total_Trans_Ct                     0.1181      0.005     23.124      0.000       0.108       0.128
Total_Ct_Chng_Q4_Q1                2.6601      0.255     10.419      0.000       2.160       3.160
Avg_Utilization_Ratio              0.3726      0.335      1.111      0.267      -0.285       1.030
Gender_M                           0.9680      0.193      5.005      0.000       0.589       1.347
Marital_Status_Married             0.6676      0.195      3.416      0.001       0.285       1.051
Marital_Status_Single              0.0323      0.196      0.165      0.869      -0.351       0.416
Income_Category_$60K - $80K        0.4484      0.228      1.963      0.050       0.001       0.896
Income_Category_Less than $40K     0.7769      0.284      2.731      0.006       0.219       1.335
Income_Category_$80K - $120K       0.1162      0.212      0.548      0.584      -0.300       0.532
Income_Category_$40K - $60K        0.9040      0.263      3.438      0.001       0.389       1.419
Card_Category_Gold                -0.8310      0.484     -1.717      0.086      -1.779       0.117
Card_Category_Silver              -0.4428      0.261     -1.696      0.090      -0.954       0.069
Card_Category_Platinum            -1.7425      1.164     -1.496      0.135      -4.025       0.540
==================================================================================================

**BEZ Avg_Utilization_Ratio**

In [54]:
X_4 = X_train_logreg[[
    'Customer_Age',
    'Dependent_count',
    #'Months_on_book',
    'Total_Relationship_Count',
    'Months_Inactive_12_mon',
    'Contacts_Count_12_mon',
    #'Credit_Limit', 
    'Total_Revolving_Bal',
    'Avg_Open_To_Buy',
    'Total_Amt_Chng_Q4_Q1',
    'Total_Trans_Amt',
    'Total_Trans_Ct',
    'Total_Ct_Chng_Q4_Q1',
    #'Avg_Utilization_Ratio',
    'Gender_M',
    #'Education_Level_High School',
    #'Education_Level_Graduate',
    #'Education_Level_Uneducated',
    #'Education_Level_College',
    #'Education_Level_Post-Graduate',
    #'Education_Level_Doctorate',
    'Marital_Status_Married',
    'Marital_Status_Single',
    #'Marital_Status_Divorced',
    'Income_Category_$60K - $80K',
    'Income_Category_Less than $40K',
    'Income_Category_$80K - $120K',
    'Income_Category_$40K - $60K',
    #'Income_Category_$120K +',
    'Card_Category_Gold',
    'Card_Category_Silver',
    'Card_Category_Platinum'
               ]]
X_4 = sm.add_constant(X_4)

/home/adam_s/um/moje_srod/lib/python3.8/site-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

In [55]:
log_reg_4 = sm.Logit(y_train_logreg.astype(float), X_4.astype(float)).fit()

Optimization terminated successfully.
         Current function value: 0.238666
         Iterations 8

In [56]:
print(log_reg_4.summary())

                           Logit Regression Results
==============================================================================
Dep. Variable:         Attrition_Flag   No. Observations:                 5310
Model:                          Logit   Df Residuals:                     5288
Method:                           MLE   Df Model:                           21
Date:                Mon, 07 Feb 2022   Pseudo R-squ.:                  0.4542
Time:                        16:17:58   Log-Likelihood:                -1267.3
converged:                       True   LL-Null:                       -2322.0
Covariance Type:            nonrobust   LLR p-value:                     0.000
==================================================================================================
                                     coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------------------------
const                             -7.2940      0.614    -11.872      0.000      -8.498      -6.090
Customer_Age                       0.0190      0.006      2.974      0.003       0.006       0.032
Dependent_count                   -0.1252      0.041     -3.061      0.002      -0.205      -0.045
Total_Relationship_Count           0.4213      0.037     11.247      0.000       0.348       0.495
Months_Inactive_12_mon            -0.4862      0.053     -9.228      0.000      -0.589      -0.383
Contacts_Count_12_mon             -0.4834      0.050     -9.730      0.000      -0.581      -0.386
Total_Revolving_Bal                0.0010   6.36e-05     15.197      0.000       0.001       0.001
Avg_Open_To_Buy                 1.704e-05   8.67e-06      1.967      0.049    6.12e-08     3.4e-05
Total_Amt_Chng_Q4_Q1               0.5239      0.261      2.007      0.045       0.012       1.036
Total_Trans_Amt                   -0.0005    3.1e-05    -15.817      0.000      -0.001      -0.000
Total_Trans_Ct                     0.1184      0.005     23.191      0.000       0.108       0.128
Total_Ct_Chng_Q4_Q1                2.6624      0.255     10.431      0.000       2.162       3.163
Gender_M                           0.9664      0.193      4.998      0.000       0.587       1.345
Marital_Status_Married             0.6679      0.196      3.415      0.001       0.285       1.051
Marital_Status_Single              0.0363      0.196      0.185      0.853      -0.347       0.420
Income_Category_$60K - $80K        0.4366      0.229      1.909      0.056      -0.012       0.885
Income_Category_Less than $40K     0.7867      0.285      2.763      0.006       0.229       1.345
Income_Category_$80K - $120K       0.1069      0.212      0.503      0.615      -0.309       0.523
Income_Category_$40K - $60K        0.9034      0.264      3.428      0.001       0.387       1.420
Card_Category_Gold                -0.8317      0.487     -1.707      0.088      -1.786       0.123
Card_Category_Silver              -0.4403      0.262     -1.679      0.093      -0.954       0.074
Card_Category_Platinum            -1.7533      1.172     -1.496      0.135      -4.050       0.543
==================================================================================================

In [60]:
x_vars = log_reg_4.summary2().tables[1].index
#x_vars
wald_str = ' = '.join(list(x_vars[15:19]))
wald_str

'Income_Category_$60K - $80K = Income_Category_Less than $40K = Income_Category_$80K - $120K = Income_Category_$40K - $60K'

In [61]:
wald_test = log_reg_4.wald_test(wald_str) # joint test
wald_test

<class 'statsmodels.stats.contrast.ContrastResults'>
<Wald test (chi2): statistic=[[12.70740372]], p-value=0.005314046822330378, df_denom=3>

In [62]:
x_vars = log_reg_4.summary2().tables[1].index
#x_vars
wald_str = ' = '.join(list(x_vars[19:22]))
wald_str

'Card_Category_Gold = Card_Category_Silver = Card_Category_Platinum'

In [63]:
wald_test = log_reg_4.wald_test(wald_str) # joint test
wald_test

<class 'statsmodels.stats.contrast.ContrastResults'>
<Wald test (chi2): statistic=[[1.70146941]], p-value=0.42710102424866603, df_denom=2>

In [66]:
x_vars = log_reg_4.summary2().tables[1].index
#x_vars
wald_str = ' = '.join(list(x_vars[13:15]))
wald_str

'Marital_Status_Married = Marital_Status_Single'

In [68]:
wald_test = log_reg_4.wald_test(wald_str) # wald test
wald_test

<class 'statsmodels.stats.contrast.ContrastResults'>
<Wald test (chi2): statistic=[[31.64116951]], p-value=1.8545596792041255e-08, df_denom=1>

Finalny model to ten wyżej. Te zmienne co występują w kilku kategoriach są wspólnie istotne (dochód i status małżeński). Rodzaj karty wspólnie nie jest istotny ale pojedyncze zmienne już tak (tego testu można nie pokazywać). Reszta zmiennych istotna. Teraz interpretacje znaku + ilorazy szans.

In [114]:
for col in X_4:
    print(X_4[col].unique())

[1.]
[46 51 45 44 48 40 53 61 43 37 39 56 34 50 58 49 36 41 35 54 52 47 42 57
 64 59 60 33 65 55 62 63 32 31 38 29 30 26 27 28 66 67 70]
[4 1 2 3 0 5]
[2 1 3 5 4 6]
[1 3 2 4 6 5 0]
[1 2 3 4 0 6 5]
[1043 2416    0 ... 2043 2248  479]
[ 1128. 24902.  4688. ... 24569.  1076.  6547.]
[0.7   0.917 0.593 0.658 0.807 0.324 0.949 1.466 0.548 0.718 0.522 0.744
 0.861 1.467 0.605 0.358 0.939 0.491 0.692 0.666 1.306 0.897 0.792 0.806
 0.796 1.07  0.699 0.681 0.411 0.747 0.906 0.727 0.802 0.753 0.665 0.628
 0.673 0.36  0.588 0.677 0.903 0.597 0.779 0.693 0.57  0.788 0.551 0.805
 0.661 0.713 2.121 0.896 0.734 0.708 0.812 0.196 0.716 0.75  0.241 0.781
 1.043 0.514 0.729 0.384 0.698 0.872 1.139 0.621 0.532 0.767 0.892 0.776
 0.943 0.848 0.959 1.047 0.675 0.787 0.749 0.682 0.864 0.791 0.371 0.967
 0.78  0.504 0.687 0.444 0.657 0.846 0.701 0.631 0.742 0.814 0.853 1.454
 0.578 0.794 0.583 1.046 1.028 1.214 0.67  0.579 0.573 0.418 0.875 0.816
 1.004 0.825 0.642 0.733 0.815 0.73  0.777 0.68  0.838 0.562 0.493 0.651
 0.849 0.824 0.529 0.893 0.813 0.766 1.008 0.996 1.012 0.934 0.426 0.705
 0.503 0.762 0.455 0.786 0.639 0.764 0.774 0.783 0.629 0.769 0.997 0.904
 0.818 0.625 0.632 0.882 0.98  0.678 0.834 0.889 0.688 0.565 0.821 0.915
 0.707 0.938 0.663 0.607 1.645 0.86  0.891 0.624 0.964 0.789 1.009 0.735
 0.752 0.691 0.973 0.822 0.833 0.644 0.785 0.633 0.615 0.723 1.12  1.06
 0.709 0.653 0.722 0.363 0.654 0.728 0.748 0.765 0.879 0.986 0.81  0.775
 0.912 0.596 0.627 0.89  0.61  1.199 1.041 0.935 0.921 0.591 1.207 0.
 0.484 0.711 0.76  1.103 0.634 0.859 1.    0.703 0.994 0.898 0.992 0.925
 0.907 0.641 0.65  0.725 0.927 0.686 1.024 1.323 0.714 0.683 0.59  0.659
 0.377 0.482 0.942 0.706 1.006 0.322 0.719 0.519 1.058 0.946 0.876 0.819
 1.092 0.83  0.473 1.465 0.702 0.396 0.799 1.642 0.542 0.533 0.608 0.66
 0.646 1.023 0.817 0.868 0.613 1.132 0.612 1.205 0.499 0.567 0.602 0.77
 0.811 0.511 0.671 0.873 0.684 0.745 0.8   0.888 0.37  0.389 0.516 0.956
 0.958 1.239 0.871 0.852 0.62  0.978 0.826 0.601 0.647 1.054 0.968 0.843
 0.995 0.874 0.738 0.758 0.54  0.669 0.64  0.587 0.373 0.595 0.9   0.798
 1.356 0.999 0.689 0.82  0.405 1.371 0.672 0.414 0.842 0.517 0.885 0.645
 0.732 0.803 0.768 1.037 1.279 0.801 0.756 0.543 0.87  0.469 0.865 0.535
 0.393 0.524 0.726 0.552 0.549 0.743 0.948 0.694 1.029 0.982 0.793 1.583
 0.929 0.886 0.574 0.616 1.002 0.835 0.712 0.566 0.95  0.772 0.527 0.606
 0.715 0.635 0.609 1.121 0.674 0.828 1.098 0.569 0.84  0.79  0.667 1.178
 0.736 0.531 1.01  0.866 1.051 0.419 1.152 0.656 0.572 0.498 0.916 0.623
 0.926 0.697 0.971 0.91  0.72  0.481 0.931 1.077 0.74  1.563 1.149 0.461
 0.797 0.555 0.38  0.558 0.857 0.85  1.1   1.017 0.222 0.884 0.809 0.883
 1.027 0.829 0.537 0.44  0.771 0.506 0.778 0.755 0.724 0.417 0.485 0.538
 0.773 0.489 0.763 0.953 0.69  0.737 1.492 0.836 0.443 0.402 0.895 0.55
 0.561 0.465 0.981 0.398 1.133 0.922 0.456 0.909 0.757 1.236 0.386 0.856
 0.993 0.746 0.488 0.622 1.57  0.63  0.494 0.845 1.095 0.446 0.638 0.365
 0.501 1.186 0.858 1.073 0.556 0.5   0.985 0.546 0.582 0.721 0.717 0.649
 0.617 1.226 0.598 0.52  0.751 1.099 0.977 0.568 1.057 0.547 0.526 0.804
 0.475 1.158 0.754 0.975 0.592 0.539 0.553 1.038 0.436 0.914 0.472 0.854
 0.704 0.477 1.924 0.662 0.397 0.913 0.51  0.869 0.741 1.542 0.851 0.841
 1.021 0.541 0.972 1.378 0.58  1.11  0.901 0.823 1.068 0.784 1.052 0.966
 0.576 0.71  1.266 0.626 0.315 0.97  0.604 0.45  0.594 0.923 1.082 0.509
 0.93  0.463 0.668 0.937 0.808 0.554 0.412 1.521 0.611 0.685 0.577 0.618
 0.88  0.575 1.045 0.962 0.648 1.859 0.483 0.947 0.581 0.233 0.378 0.557
 0.403 0.863 1.035 1.096 0.061 0.731 0.294 0.298 0.881 1.044 1.312 1.589
 0.492 0.652 0.664 0.466 0.887 1.114 0.951 0.479 1.25  0.528 0.957 0.35
 0.619 0.56  0.969 0.944 0.643 0.603 0.899 0.502 0.589 0.467 0.739 1.015
 1.048 0.586 0.571 2.145 0.782 0.827 0.844 0.451 0.795 1.174 0.452 1.166
 0.832 1.373 0.974 0.507 0.312 0.394 0.655 1.059 1.049 0.153 1.071 0.361
 0.894 0.585 1.282 1.159 1.003 1.065 0.983 0.474 1.198 0.406 0.878 0.424
 0.877 0.695 0.534 0.388 1.481 1.19  1.362 1.109 0.497 0.862 0.536 0.375
 0.425 0.955 0.963 0.696 0.96  1.125 0.94  0.518 1.055 0.928 0.991 0.563
 0.42  1.224 1.46  1.056 1.612 0.584 0.831 0.276 0.486 0.761 0.48  1.022
 0.636 0.676 1.493 1.595 1.416 1.488 0.924 0.564 0.839 0.346 1.072 1.32
 0.457 1.026 0.905 1.399 1.494 1.019 1.005 1.05  0.401 2.271 0.314 0.92
 1.154 0.422 1.288 0.332 0.6   1.036 1.107 0.323 0.413 0.434 1.134 0.637
 1.449 0.459 0.445 0.545 1.275 1.129 1.013 0.908 0.462 1.248 0.512 1.102
 1.301 1.345 0.449 1.16  0.409 0.544 1.768 2.037 1.001 1.674 1.108 0.599
 1.348 1.297 0.382 1.053 0.342 0.679 0.471 1.524 0.392 1.196 1.26  1.117
 0.837 1.162 1.234 0.428 0.391 0.989 0.847 1.75  1.335 1.063 0.525 0.421
 0.41  0.2   0.381 1.123 0.4   0.476 1.212 0.464 0.954 0.256 1.018 0.431
 0.468 0.438 1.394 0.515 1.314 0.266 0.367 0.867 1.451 0.976 1.106 1.262
 0.311 0.251 0.984 0.513 1.624 0.496 0.24  0.988 0.559 0.919 1.203 0.614
 1.087 0.337 0.289 1.227 1.568 0.357 0.423 0.987 0.433 3.397 0.998 1.631
 1.689 1.893 0.759 1.296 1.182 2.368 0.936 1.633 0.435 1.769 1.039 1.085
 0.918 1.596 1.156 1.02  0.454 0.429 0.478 1.033 0.407 0.965 0.307 0.933
 1.585 1.268 1.342 0.344 1.034 0.47  1.04  0.163 1.509 1.025 0.521 1.826
 1.138 1.553 0.99  0.278 1.258 1.328 1.329 0.911 0.46  1.295 0.952 1.269
 1.251 1.409 0.31  1.408 0.855 0.523 1.623 0.301 1.197 1.308 1.127 0.202
 1.097 1.216 1.016 1.111 0.447 0.293 1.144 0.453 0.508 1.171 0.53  1.284
 0.379 0.372 1.064 0.359 1.558 1.486 2.316 0.387 1.608 1.042 1.483 1.326
 1.731 0.262 0.941 1.302 1.304 0.437 1.317 1.24  0.416 1.541 1.357 1.411
 1.007 0.32  1.164 0.448 1.08  0.441 2.357 0.43  1.458 1.724 1.03  1.219
 0.399 1.126 1.169 1.091 2.594 1.254 1.831 1.242 1.932 0.442 1.369 1.259
 1.561 1.316 1.52  1.146 0.225 0.374 1.032 0.408 1.172 1.504 1.485 1.432
 1.062 1.101 0.505 0.383 1.256 1.079 1.211 1.554 2.175 3.355 1.193 1.604
 1.441 1.084 1.346 1.088 1.135 1.167 0.902 1.708 1.155 1.505 1.455 1.229
 0.439 1.625 0.28  0.183 0.321 1.516 1.209 1.274 1.09  1.632 0.432 0.49
 0.366 1.222 1.189 1.165 0.376 1.119 1.423 1.456 1.175 1.376 0.275 0.308
 0.242 0.305 2.053 0.487 0.932 0.945 1.177 1.315 1.243 0.362 1.419 0.12
 1.061 1.322 1.375 1.791]
[4531 7481 5248 ... 1786 7722 1917]
[ 88  96  89 114  32  44  54  33  36  85  29  74  91  48  27  42  39  31
  25  72  75 123  69  58  30  78  67  83  73  98  35  82  34  71  99  84
  81  50  40  90  26  43  61  38  53  68  65  77  56  22 110 117  66  41
  62  80  45  63 109  47 120  86  46  76  70 111 107  64  87  23  55  97
  93  92 115  60  37  79  51  57  49  52 118  94  28 116  24 126 101  95
  16 100 103 128 124  59 112 102 104 106 108 105  21  15  17 127 119  19
 129 125  13  18 122  14  20 131  12 113 121 130 134 132  11]
[0.833 0.548 0.745 0.606 0.455 0.375 1.    0.5   0.604 1.071 0.682 0.685
 0.92  0.929 0.448 1.167 1.077 0.722 0.8   0.667 0.556 0.714 0.63  0.708
 1.75  0.683 0.526 0.25  0.592 0.914 0.729 0.733 0.825 0.607 0.611 0.591
 0.804 0.7   0.614 0.678 0.647 1.174 0.44  1.312 0.6   0.608 1.364 0.536
 1.323 0.622 0.884 0.773 0.605 0.357 0.787 0.559 0.447 0.75  0.512 0.472
 0.28  0.673 0.76  0.796 0.811 0.865 0.809 0.467 0.618 0.519 0.737 0.721
 0.943 0.636 0.414 0.771 0.346 0.565 0.393 0.688 0.841 0.73  1.136 0.465
 0.765 0.792 0.586 0.9   0.062 0.762 1.286 0.68  1.417 0.814 0.882 0.464
 1.032 0.641 0.476 0.644 0.706 0.627 0.919 0.806 0.974 1.3   0.732 0.515
 0.764 0.355 0.54  0.848 0.643 0.587 0.788 0.511 0.767 1.083 0.661 0.617
 0.911 0.545 0.62  0.875 0.537 0.786 0.72  1.051 0.609 0.406 0.37  0.579
 1.188 0.646 0.421 0.65  0.652 0.808 0.889 0.936 0.975 0.613 0.222 0.879
 0.425 0.909 0.531 0.655 0.756 0.923 0.857 0.895 0.955 0.642 0.529 0.256
 0.769 0.55  0.944 0.479 0.562 0.419 0.569 0.871 0.85  0.789 0.632 0.739
 0.344 0.581 1.455 0.    0.933 0.759 1.176 0.588 0.829 0.826 0.743 1.125
 0.286 0.552 0.71  0.681 0.59  0.709 0.658 0.595 0.727 1.135 0.812 0.333
 0.387 0.525 0.783 0.941 0.244 0.847 0.702 0.935 0.692 0.471 0.593 0.276
 0.821 0.509 1.438 0.571 0.864 1.028 0.778 0.784 0.458 0.516 1.114 1.088
 0.725 0.854 0.925 0.4   0.651 0.775 0.653 0.707 1.061 0.891 0.938 0.69
 0.711 0.926 0.596 0.684 0.51  0.58  0.873 0.578 0.878 0.407 0.542 0.558
 0.625 0.676 0.843 0.514 1.294 0.674 0.645 0.93  0.481 0.881 1.148 0.742
 0.976 0.705 0.52  0.489 0.433 0.574 0.633 0.818 0.31  0.452 0.635 0.429
 0.698 1.385 0.296 1.583 0.621 0.615 1.231 0.634 0.161 0.577 0.735 0.294
 0.781 0.795 0.761 0.717 0.564 0.483 0.077 0.321 1.35  0.348 0.931 0.758
 0.521 0.619 0.852 0.524 0.868 0.755 0.766 0.723 0.543 0.32  0.718 0.84
 0.207 0.628 1.182 0.815 0.64  0.316 0.86  0.757 0.912 0.913 1.027 0.763
 0.353 0.672 0.462 0.438 0.946 0.738 0.327 0.694 0.56  0.423 0.364 0.553
 0.932 0.567 0.576 0.872 0.671 0.29  0.217 1.161 0.816 1.095 0.74  0.2
 0.791 1.212 0.491 0.691 1.5   0.381 0.532 0.535 0.66  0.662 1.25  0.449
 0.568 0.585 1.034 0.444 0.549 1.079 0.657 0.724 0.214 0.639 0.439 0.898
 0.696 0.382 0.712 0.844 1.545 0.83  0.119 0.774 0.689 0.754 0.837 0.803
 0.905 0.391 0.972 0.522 0.345 0.409 0.594 0.893 0.947 0.541 0.81  0.528
 0.805 0.533 0.704 1.049 0.589 2.182 0.474 0.853 0.675 0.477 0.486 0.846
 0.97  1.391 1.05  0.19  0.78  0.79  0.736 0.435 0.463 0.822 0.971 0.654
 0.638 1.636 1.923 0.824 0.838 0.686 0.281 0.906 0.41  0.731 0.538 0.719
 0.649 0.303 0.242 0.703 0.886 0.629 0.431 0.744 0.273 1.107 0.659 0.469
 0.385 0.24  0.304 0.776 1.6   0.967 0.897 1.158 0.292 0.323 0.903 1.111
 0.484 0.434 0.978 1.062 0.426 0.278 1.538 0.902 0.95  1.444 0.851 0.958
 1.171 1.273 1.333 0.949 0.679 0.964 0.977 0.475 0.96  1.217 0.308 0.227
 0.361 1.219 0.907 2.5   0.867 0.753 0.699 0.952 0.695 0.861 0.973 1.056
 0.921 0.819 0.842 0.896 0.969 0.508 0.61  0.87  0.513 0.746 0.488 1.419
 0.174 1.122 1.036 0.267 0.523 1.471 1.091 0.892 0.417 0.45  1.381 1.857
 1.118 0.839 0.927 0.583 1.065 0.396 0.797 0.263 0.962 0.828 0.697 0.966
 0.648 1.023 0.167 0.82  0.378 0.367 1.226 0.939 1.32  0.566 1.2   1.105
 2.    1.318 0.306 2.167 1.08  0.88  0.794 0.772 0.734 1.172 1.147 0.557
 0.656 0.869 3.    0.453 1.053 0.603 1.029 0.35  0.561 1.143 0.957 0.436
 0.623 0.312 1.24  0.257 1.179 0.534 0.575 0.485 2.4   2.875 0.862 1.625
 0.551 0.457 0.324 0.395 0.768 0.49  0.968 0.341 0.793 0.478 0.918 1.03
 0.368 0.297 0.687 0.677 0.597 0.176 0.441 0.143 1.087 1.024 1.067 0.48
 1.018 0.518 0.46  0.182 3.25  1.121 1.026 0.412 0.208 0.917 1.211 0.582
 1.097 1.025 0.492 1.214 1.292 0.408 1.042 0.231 1.037 0.544 0.415 0.517
 0.855 0.424 0.456 1.043 1.346 1.154 1.059 0.125 1.04  1.571 0.185 1.038
 1.833 1.152 0.741 0.394 1.1   0.318 0.379 0.212 1.189 1.133 1.194 0.863
 0.314 0.188 1.45  0.189 1.647 0.554 1.075 0.317 0.371 3.714 0.547 0.362
 0.459 0.98  1.7   1.308 0.295 0.405 0.343 2.333 0.238 1.13  1.12  0.779
 0.487 0.059 0.451 0.038 1.069 0.726 0.432 0.885 0.468 1.8   0.269 0.259
 0.265 0.347 1.316 1.162 0.133 0.831 0.785 0.823 0.527 1.875 1.412 1.235
 1.15  0.091 1.054 0.359 1.206 1.258 0.206 1.37  0.951 1.357 0.107 1.073
 0.956 1.65  2.286 1.474 1.16  1.064 2.222 0.389 1.36  0.716 0.3   1.057
 1.081 1.29  0.948 0.053 0.103 1.103 0.372 1.458 1.522 1.086]
[1 0]
[1 0]
[0 1]
[0 1]
[0 1]
[1 0]
[0 1]
[0 1]
[0 1]
[0 1]

**Ilorazy szans**

In [109]:
np.exp(log_reg_4.params)

const                              0.000680
Customer_Age                       1.019188
Dependent_count                    0.882301
Total_Relationship_Count           1.523981
Months_Inactive_12_mon             0.614956
Contacts_Count_12_mon              0.616684
Total_Revolving_Bal                1.000967
Avg_Open_To_Buy                    1.000017
Total_Amt_Chng_Q4_Q1               1.688674
Total_Trans_Amt                    0.999510
Total_Trans_Ct                     1.125649
Total_Ct_Chng_Q4_Q1               14.330670
Gender_M                           2.628595
Marital_Status_Married             1.950075
Marital_Status_Single              1.036945
Income_Category_$60K - $80K        1.547514
Income_Category_Less than $40K     2.196245
Income_Category_$80K - $120K       1.112869
Income_Category_$40K - $60K        2.468056
Card_Category_Gold                 0.435325
Card_Category_Silver               0.643871
Card_Category_Platinum             0.173196
dtype: float64

Wzrost wieku o jednostkę spowoduje wzrost szans utrzymanie relacji z bankiem o 2%.

In [75]:
X_4_test = X_test_logreg[[
    'Customer_Age',
    'Dependent_count',
    #'Months_on_book',
    'Total_Relationship_Count',
    'Months_Inactive_12_mon',
    'Contacts_Count_12_mon',
    #'Credit_Limit', 
    'Total_Revolving_Bal',
    'Avg_Open_To_Buy',
    'Total_Amt_Chng_Q4_Q1',
    'Total_Trans_Amt',
    'Total_Trans_Ct',
    'Total_Ct_Chng_Q4_Q1',
    #'Avg_Utilization_Ratio',
    'Gender_M',
    #'Education_Level_High School',
    #'Education_Level_Graduate',
    #'Education_Level_Uneducated',
    #'Education_Level_College',
    #'Education_Level_Post-Graduate',
    #'Education_Level_Doctorate',
    'Marital_Status_Married',
    'Marital_Status_Single',
    #'Marital_Status_Divorced',
    'Income_Category_$60K - $80K',
    'Income_Category_Less than $40K',
    'Income_Category_$80K - $120K',
    'Income_Category_$40K - $60K',
    #'Income_Category_$120K +',
    'Card_Category_Gold',
    'Card_Category_Silver',
    'Card_Category_Platinum'
               ]]
X_4_test = sm.add_constant(X_4_test)

/home/adam_s/um/moje_srod/lib/python3.8/site-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

In [106]:
y_test_logreg = y_test_logreg.astype(float)
y_test_logreg.describe()

count    1771.000000
mean        0.846979
std         0.360109
min         0.000000
25%         1.000000
50%         1.000000
75%         1.000000
max         1.000000
Name: Attrition_Flag, dtype: float64

In [77]:
X_4

,const,Customer_Age,Dependent_count,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,...,Gender_M,Marital_Status_Married,Marital_Status_Single,Income_Category_$60K - $80K,Income_Category_Less than $40K,Income_Category_$80K - $120K,Income_Category_$40K - $60K,Card_Category_Gold,Card_Category_Silver,Card_Category_Platinum
8101,1.0,46,4,2,1,1,1043,1128.0,0.700,4531,...,1,1,0,0,0,1,0,0,0,0
8916,1.0,51,1,1,3,2,2416,24902.0,0.917,7481,...,1,0,1,0,0,1,0,0,0,0
7945,1.0,45,4,1,3,3,0,4688.0,0.593,5248,...,0,0,1,0,0,0,1,0,0,0
10061,1.0,44,2,3,2,3,2028,2154.0,0.658,16920,...,0,0,1,0,1,0,0,0,0,0
4743,1.0,48,3,3,2,4,0,19075.0,0.807,2013,...,1,0,1,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5242,1.0,49,3,5,3,4,0,1438.3,0.929,4205,...,0,1,0,0,1,0,0,0,0,0
7365,1.0,44,5,3,3,1,1726,983.0,0.698,5056,...,0,0,1,0,1,0,0,0,0,0
7413,1.0,50,1,4,3,2,0,2317.0,0.734,2214,...,1,0,1,1,0,0,0,0,0,0
7681,1.0,49,4,5,3,2,2133,905.0,0.689,4784,...,0,1,0,0,1,0,0,0,0,0
1158,1.0,26,0,5,1,2,1720,6547.0,0.633,1917,...,1,0,1,1,0,0,0,0,0,0

In [78]:
X_4_test

,const,Customer_Age,Dependent_count,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,...,Gender_M,Marital_Status_Married,Marital_Status_Single,Income_Category_$60K - $80K,Income_Category_Less than $40K,Income_Category_$80K - $120K,Income_Category_$40K - $60K,Card_Category_Gold,Card_Category_Silver,Card_Category_Platinum
9866,1.0,34,2,4,2,2,1442,6152.0,0.753,15026,...,0,0,1,0,0,0,1,0,0,0
9239,1.0,44,4,2,2,3,1727,7955.0,0.880,14991,...,1,0,1,1,0,0,0,0,0,0
963,1.0,48,2,5,1,3,2439,2131.0,0.693,1520,...,0,1,0,0,1,0,0,0,0,0
1999,1.0,26,0,3,2,3,1428,14.0,0.496,1134,...,0,0,1,0,1,0,0,0,0,0
2531,1.0,59,1,6,2,2,1965,335.0,0.596,1693,...,1,1,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9288,1.0,52,3,2,2,1,1518,7712.0,0.774,14082,...,0,1,0,0,1,0,0,0,0,0
1961,1.0,33,1,4,3,3,0,34516.0,0.636,2804,...,1,0,1,0,0,1,0,0,0,0
6059,1.0,48,2,4,2,2,0,4776.0,0.626,4581,...,1,1,0,0,0,0,1,0,0,0
9300,1.0,58,1,1,1,3,1341,33175.0,0.812,13988,...,1,1,0,0,0,1,0,0,0,0
2827,1.0,40,4,3,1,2,2084,8661.0,0.847,3502,...,0,0,1,0,1,0,0,0,1,0

In [100]:
predicted_y_logreg = log_reg_4.predict(X_4_test)
predicted_y_logreg = np.round(predicted_y_logreg, 0).astype(float)
predicted_y_logreg

9866    1.0
9239    1.0
963     1.0
1999    0.0
2531    1.0
       ...
9288    1.0
1961    1.0
6059    1.0
9300    1.0
2827    1.0
Length: 1771, dtype: float64

In [104]:
print(metrics.accuracy_score(y_test_logreg, predicted_y_logreg))
print(metrics.confusion_matrix(y_test_logreg, predicted_y_logreg))
print(metrics.classification_report(y_test_logreg, predicted_y_logreg))

0.9045736871823828
[[ 157  114]
 [  55 1445]]
              precision    recall  f1-score   support

         0.0       0.74      0.58      0.65       271
         1.0       0.93      0.96      0.94      1500

    accuracy                           0.90      1771
   macro avg       0.83      0.77      0.80      1771
weighted avg       0.90      0.90      0.90      1771

In [110]:
np.exp(0.8761298)

2.4015870748708004

In [111]:
np.exp(-0.0166972)

0.983441425618327